$red: #e31f24;
$dark-gray: #333333;
$gray: #76787d;
$black: #000;

@mixin h1-styles {
  font-size: 32px;
  font-weight: 700;
}

@mixin h2-styles {
  font-size: 16px;
  font-weight: 600;
}
@mixin text-styles {
  font-size: 14px;
  font-weight: 400;
}

@mixin resolution-styles {
  max-width: 1366px;
  margin: 0 auto;
  width: 100%;
}
@mixin hide-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

html {
  scrollbar-gutter: stable;
}
body {
  overflow-x: hidden;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

a,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
}

button {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

img,
svg {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

path {
  transition: all 0.3s ease;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.display {
  display: none;
}

::selection {
  color: white;
  background-color: $red;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
  margin: 0;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea:focus::-moz-placeholder,
input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea:focus:-moz-placeholder,
input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

textarea:focus:-ms-input-placeholder,
input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
